* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: f9f9f9;
    font-family: 'roboto', sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #831216;
    padding: 15px 50px;
    color: #f0fbfb;
    font-size: 28px;
}

header nav div {
    display: flex;
    align-items: baseline;
}

header nav div a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-left: 25px;
}

header nav div a:hover {
    color: #f9f9f9;
}

header nav div input {
    padding: 5px;
    border-radius: 8px;
    border: none;
}

header nav div button {
    padding: 5px;
    background-color: #f9f9f9;
    border: none;
    border-radius: 8px;
    font-family: 'roboto', sans-serif;
}

header nav div button:hover {
    cursor: pointer;
    color: #831216;
}

main section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main section div {
    margin-top: 50px;
    background-color: #f0f0f0;
    padding: 25px;
    width: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-weight: bold;
}

main section div img {
    width: 175px;
    border-radius: 8px;
}

main section div p {
    margin: 5px 0;
}

@media(max-width:1023px){
    main section {
        flex-direction: column;
    }

    main section div {
        width: 50%;
    }
}

@media(max-width:426px){
    main section div {
        width: 75%;
    }
}