.page-home {
    border: 1px solid red;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-home header {
    border: 1px solid blue;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
